*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Stylise mon titre  */
h1 {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 0; 
}

/* Mon bloc de grille -> répertoire parent */
.grille {
  max-width: 1300px;
  width: 80%; 
  height: auto; /* Contient tous les éléments de la grille. */
  margin:  30px auto; /* Centrer le tout */
  border: 1px solid #333;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px); /* auto-fill va créer autant de colonne que la grille peut en fonction de la taille qu'elle a. */
  justify-content: center;
  grid-gap: 10px; /* Sépare mes élements */
}

/* répertoire enfant  */
.grid-item {
  width: 300px;
  height: 200px;
  background: #333;
}

